Options +Indexes +FollowSymLinks
SSLRenegBufferSize 40000000
Options +ExecCGI
AddCharset UTF-8 .html
# Options ExecCGI
LimitRequestBody 10000000000000
<FilesMatch docs>
SetHandler cgi-script
</FilesMatch>


<IfModule mod_security.c>
SetEnvIfNoCase Content-Type \
"^multipart/form-data;" "MODSEC_NOPOSTBUFFERING=Do not buffer file uploads"
</IfModule>

<IfModule mod_gzip.c>
mod_gzip_on No
</IfModule>
