{
  secrets => ['0c9d2af271b6544c11758f3a2e207cf5c19429a5'],
  "auth_disable" => 1,
  "browser_start" => 0,
  "cache_db" => "db/doc_cache.db",
  "cache_db_pass" => "",
  "cache_db_provider" => "SQLite",
  "cache_db_user" => "",
  "cgi_enabled" => 1,
  "database" => "db/doc_db.db",
  "database_pass" => "",
  "database_provider" => "SQLite",
  "database_user" => "",
  "debug" => 2,
  "debug_js" => 1,
  "database_extensions" => ['fts5stemmer.so'],
  "ebook_convert_enabled" => 0,
  "icon_size" => 100,
  "index_html" => "index6.html",
  "link_local" => 0,
  "local_storage" => "Docs/uploads",
  "lockfile" => "db/db.lock",
  "number_ocr_threads" => 8,
  "number_server_threads" => 20,
  "results_per_page" => 10,
  "root_dir" => "Docs",
  "server_listen_if" => "0.0.0.0:8081",
  "unclassified_folder" => "Unsorted|unclassified",
  "unoconv_enabled" => 1,
  "xmlrpc_port" => 8081
}

