<html>
  <body>
  <h> #Subject# </h>
  <a href="#X-POPFile-Link#" >Reclassify: <b> #X-Text-Classification# <b></a> <br>
  <a href="#FileURL#"> Open file #File#</a><br>
 <table><tr>
  <td valign="top">
  <a href="#FileURL#" >
  <img src="#ImgURL#">
  </a>
  </td><td valign="top">
  <h> Content that has been used to classify: </h>
  <hr>
    #Content#
  <hr>
  #PDFInfo#
  <hr>
  </td></tr></table>
  </body>
</html>
