  Xul {
    list-style-type: none;
      margin: 0;
        padding: 0;
  }
  Xli {
    color: green;
    width: 80px;
    float: left;
    border: inset #0f0;
    
  }
  .dbg { 
	  height: 20px;
	  width: 100%;
  }

  span {
    color: red;
    display: inline;
  }
  .page {
	  display: flex;
	  flex-flow: row;
	align-items: flex-start;
	align-content: flex-start;
  }
  .left {
	  height: 97vh;
	  width: 32vw;
  }
  .right {
	  width: 100%;
	  height: 97vh;
  }
  .box {
	  width: 100%;
	  height: 100%;
	  background: tomato;
	  border: solid black 3px;
  }
  .vb {
	  width: 8px;
	  height: 100vh;
	  background: gold;
	  cursor:col-resize;
	  padding-left: 2px;
	  padding-right: 2px;
  }
  .rcontent {
	  _width: 100%;
	  height: 100%;
  }

  .main {
	  _width: 64%;
	  height: 99vh;
	  border: solid 1px black;
	  display: flex;
	  flex-flow: row wrap;
  }
  .navigatorBig {
	  height: 100%;
  }
  .navigator {
	  border: solid 1px red;
	  _width: 100%;
	  
	  display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;

  }
  .search {
	  width: 100%;
	  /* height: 20px; */
  }
 .pdfviewer {
   /* top: 0px;
   right: 0px;
   */
   width: inherit;
   height: 100%;
   background: "#3c4";
   /* float: right; */
   display:none;
   /* position: absolute;*/
 }
.viewing {
    border-style:round; 
    border-width: 3px;
    border-style: inset;
    border-color:red;

}
.selecting {
    border-style:round; 
    border-width: 3px;
    border-color:green;
}

.filedrop {
  background: grey;
  _width: 100px;
  float: right;
  margin-top: 1em;
  
}
#droplist {
    border: inset thin blue;
    float: left;
    text-align: left;
    _width: 100%;
    height: 50px;
    word-wrap: break-word
}

.cl_1, .cl_2, .cl_3 { font-size:9px; }
.cl_4, .cl_5, .cl_6 { font-size:10px; }
.cl_7 { font-size:11px; }
.cl_8 { font-size:13px; }
.cl_9 { font-size:15px; }
.cl_10 { font-size:17px; }
.cl_11 { font-size:24px; }
.tags {

  word-wrap: break-word;
  border: black;
  border-width: 1px;
  border-radius: 20px;
  /* background: #73AD21; */
  padding: 2px;
  border: 1px solid #afb2ac;
}
.tgbbox {
  min-width: 1vw;
  min-height: 1vw;
  }

#taglist {
  color: blue;
  border: inset thin red;
  display: flex;
  flex-flow: row wrap;
}

  .tagfilter {
    font-size: 20px;
    color: red;
  }


.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}
.lb {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    overflow-y: scroll;
    border: inset #ccc;
    padding-inline-start: 0px;
    margin: 0px;
}
.deleted {
	display: none;
}
.rbox {
    border: inset #CCC;
    width: 240px;
    height: 120px;
    float: left;
    list-style-type: none;
    __z-index: -2 
}
.rbox:hover {
   background: #cccccc;
}

div.rcell {
    border: none;
    background-color: #f83
}
img.thumb {
    width: 100%;
    max-height: 115px;
    padding-right: 5px;
}

a.thumb {
    border: none;
    width: 100%;
    float: left;
    width: 30%;
    background-color: #ccc;
}

div.thumb {
    background-color: #ccc;
    border: none;
    float: left;
    width: 30%
}

div.descr {
    border: none;
    background: transparent;
    width: 68%;
    float: left;
    padding-left: 4px;
    font-size: 9pt;
}


.viewing {
    border-width: 8px;
    border-style: inset;
    border-color:red;
    /* border-style:round; 
    background: #ff6a6a;
    */
}
.failed {
	background: #df0d0d;
}
.processing {
	background: #cfb4b4;
}
